.perfil-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.perfil-header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

.perfil-header img {
  width: 60px;
  margin-right: 10px;
}

.perfil-body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.perfil-info {
  width: calc(50% - 20px);
  min-height: 400px;
  padding: 20px;
  background-color: #ffeab4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.perfil-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.perfil-columnas-b {
  display: flex;
  width: 70%;
}

.perfil-cursos-b, .perfil-notificaciones-b {
  background-color: #ffeab4;
  width: calc(50% - 20px);
  min-height: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.perfil-notificaciones-b {
  margin-left: 10px;
}

.perfil-footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.perfil-cursos-b h2, .perfil-notificaciones-b h2 {
  margin-top: 0;
  color: #ad7c02;
}

.perfil-cursos-b ul, .perfil-notificaciones-b ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.perfil-cursos-b li, .perfil-notificaciones-b li {
  margin-bottom: 10px;
}

.perfil-cursos-b button, .perfil-notificaciones-b button {
  background-color: #FFB800;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.perfil-cursos-b button:hover, .perfil-notificaciones-b button:hover {
  background-color: #DAAA00;
}

.perfil-profesores {
  background-color: #ffeab4;
  width: calc(50% - 20px);
  min-height: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.perfil-profesores h2 {
  margin-top: 0;
  color: #ad7c02;
}

.perfil-profesores ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.perfil-profesores li {
  margin-bottom: 10px;
}

.perfil-profesores button {
  background-color: #FFB800;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.perfil-profesores button:hover {
  background-color: #DAAA00;
}
